examples/basic-schedule-flow.json
[
    {
        "id": "basic-schedule-example",
        "type": "tab",
        "label": "Basic Schedule Example",
        "disabled": false,
        "info": "Basic flow that updates the schedule every 6 hours for a washing machine. Uses price optimization and requires 2 consecutive hours."
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "basic-schedule-example",
        "name": "Every 6 hours",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "21600",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "{\"zip\":\"69168\",\"requirements\":{\"energyDemand\":10,\"maxLoad\":3500,\"avgLoad\":2000}}",
        "payloadType": "json",
        "x": 150,
        "y": 100,
        "wires": [["schedule1"]]
    },
    {
        "id": "schedule1",
        "type": "energy-schedule",
        "z": "basic-schedule-example",
        "name": "Washing Machine",
        "zip": "69168",
        "law": "price",
        "activeHours": "2",
        "coverageHours": "24",
        "consecutiveHours": true,
        "x": 400,
        "y": 100,
        "wires": [["debug1"],["debug2"]]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "basic-schedule-example",
        "name": "Schedule Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "debug2",
        "type": "debug",
        "z": "basic-schedule-example",
        "name": "Schedule Details",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 140,
        "wires": []
    }
]